@media (max-width: 1620px) {
	.own-restaurant__form button {
		margin-top: 100px;

		padding: 30px 40px;
		font-size: 25px;
	}

}

@media (max-width: 1480px) {
	.header {
		height: 900px;
	}

	.header__list-item a {
		font-size: 25px;
	}

	.header__link {
		font-size: 25px;
	}

	.header__title {
		font-size: 97px;
		margin-top: 200px;

	}

	.own-restaurant__form-image img {
		padding: 50px 150px 100px 150px;
	}

	.own-restaurant__form-image {
		margin-top: 143px;
		margin-bottom: 48px;
	}
}

@media(max-width: 1480px) {
	.footer__inner {
		width: 1200px;
	}
}

@media (max-width: 1366px) {
	.own-restaurant__form input {
		width: 540px;
		margin-left: 56px;
		display: block;
		margin-bottom: 22px;
		border: none;
		border-radius: 10px;
		font-size: 20px;
		font-weight: 700;
		padding: 14px 17px;
	}

	.own-restaurant__form-image a {
		width: 238px;
		margin: 0 auto;
		display: block;
		text-align: center;
		font-size: 21px;
		font-weight: 700;
		color: black;
		text-decoration: none;
	}

	.own-restaurant__form-image img {
		padding: 50px 70px 50px 70px;
	}

	.own-restaurant__form-image {
		margin-bottom: 8px;
	}

	.profil .profil-our__form-btn {
		margin-top: 100px;
	}
}

@media (max-width: 1280px) {
	.header__list-item a {
		font-size: 20px;
	}

	.header__link {
		font-size: 20px;
	}

	.header__title {
		max-width: 570px;
		margin-top: 100px;
		font-size: 85px;

	}

	.footer__inner {
		width: 100%;
		justify-content: space-around;
	}

	.footer__contacts-title,
	.footer__registratsia-title {
		font-size: 30px;
	}

	.footer__contacts-addres {
		font-size: 30px;
		margin-top: 35px;
	}

	.footer__contacts-phone {
		font-size: 30px;
		margin-top: 35px;
	}

	.footer__registratsia-btn {
		margin-top: 45px;
	}

}

@media (max-width: 1090px) {
	.header {
		height: 700px;
	}

	.header__list-item {
		margin-left: 50px;
	}

	.header__list-item a {
		font-size: 18px;
	}

	.header__link {
		font-size: 18px;
	}

	.own-restaurant__form-inner {
		flex-direction: column;
	}


	.own-restaurant__form-text {
		text-align: center;
	}

	.own-restaurant__form input {
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.own-restaurant__form-image {
		margin: 0 auto;
		margin-top: 35px;
	}

	.own-restaurant__form-image img {
		margin: 0 auto;
		padding: 50px 70px 50px 70px;

	}

	.own-restaurant__form button {
		margin-top: 60px;
		padding: 30px 40px;
		font-size: 15px;
	}

	.services__box-inner {
		flex-direction: column;
	}

	.services__box-text {
		margin-top: 0;
	}

	.services__box {
		margin-bottom: 50px;
	}
}

@media (max-width: 990px) {
	.header__nav {
		display: none;
		position: absolute;
		top: 100px;
		width: 100%;
		left: 0;
		text-align: center;
		background-color: #e9e9eb;
		z-index: 5;
	}

	.header__list-item a {
		display: block;
		padding: 10px 0;
		color: #2c2c2c;
	}

	.header__logo img {
		width: 80%;
	}

	.header__link {
		display: none;
	}

	.header__btn {
		width: 30px;
		height: 20px;
		position: relative;

		span {
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			top: 9px;
		}

		&::before,
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background-color: #fff;
		}

		&::before {
			bottom: 0;
		}

		&::after {
			top: 0;
		}
	}

	.header__list {
		flex-direction: column;

	}

	.footer {
		padding-top: 75px;
		height: 700px;
	}

	.footer__title {
		font-size: 50px;
	}

	.footer__contacts-addres {
		font-size: 29px;
	}

	.footer__inner {
		flex-direction: column;
		margin-top: 65px;
	}

	.footer__contacts-addres {
		text-align: center;
	}

	.footer__registratsia {
		margin-top: 50px;
	}

	.profil .profil-our__form label {
		font-size: 20px;
	}

	.profil .profil-our__form input {
		font-size: 25px;
		margin-bottom: 30px;
	}

	.profil .profil-our__form-title {
		font-size: 35px;
	}

	.profil .profil-our__form-btn {
		margin-top: 60px;
	}
}

@media (max-width: 680px) {
	.own-restaurant__form-text {
		font-size: 30px;
		font-weight: 700;
		margin: 34px 0 36px 25px;
		text-align: left;
	}
}

@media (max-width: 590px) {
	.own-restaurant__title {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 35px;
		text-align: center;
	}

	.own-restaurant__form-text {
		font-size: 25px;
		font-weight: 700;
		margin: 34px 0 36px 25px;
		text-align: center;
	}

	.own-restaurant__form input {
		width: 460px;
		margin-bottom: 20px;
	}

	.own-restaurant__form-image img {
		margin: 0 auto;
		padding: 40px 60px 50px 60px;
		width: 65%;
	}
}

@media (max-width:502px) {
	.own-restaurant__form input {
		width: 320px;
		margin-bottom: 20px;
		font-size: 14px;
	}

	.own-restaurant__form-image a {
		width: 163px;
		margin: 0 auto;
		display: block;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
		color: black;
		text-decoration: none;
	}
}

@media (max-width: 460px) {
	.header__title {
		max-width: 387px;
		margin-top: 67px;
		font-size: 63px;
	}

	.header__subtitle {
		font-size: 50px;
	}

	.header {
		height: 540px;
	}
}